body {
    background-color: lightgray;
}

.about .imageContantContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.about .imageContantContainer .image{
    width: 40%;
}

.about .imageContantContainer .image img{
    width: 100%;
}

.about .imageContantContainer .contant {
    width: 50%;
    background-color: rgb(19, 236, 236);
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 40px;
}

.about .imageContantContainer .contant h3{
    line-height: 3rem;
    color: #fff;
    font-size: 30px;
}

.about .imageContantContainer .contant p{
    font-size: 15px;
    color: #eee;
    line-height: 1.4rem;
}

.about .imageContantContainer .contant button {
    padding: 10px;
    margin-top: 20px;
    background: none;
    border: 2px solid lightgray;
    color: #fff;
    border-radius: 10px;
}

.about .imageContantContainer .contant button:hover{
    background-color: lightgray;
    letter-spacing: 3px;
}

.about .contantContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    gap: 1.5rem;
}

.about .contantContainer .contant {
    background-color: rgb(19, 236, 236);
    padding: 20px 0px;
}

.about .contantContainer .contant div {
    width: 80%;
    margin: auto;
    text-align: center;
}

.about .contantContainer .contant div a{
    color: #fff;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 10px;
}

.about .contantContainer .contant div a:hover{
    background-color: lightgray;
    letter-spacing: 3px;
}

.about .contantContainer .contant div h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
}

.about .contantContainer .contant div p{
    font-size: 15px;
    color: #fff;
    margin-bottom: 40px;
}

.about .contantContainer .contant .image {
   width: 10rem;
   height: 5rem;
   margin-bottom: 40px;
}

.about .contantContainer .contant img {
    width: 100%;
    border-radius: 50%;
}